<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/header">Header</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/servicos">Serviços</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contato">Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>
</ul>
</div>