<div class="container">

  <form class="form-horizontal">
    <fieldset>

      <legend>Contato</legend>

      <div class="form-group">
        <label class="col-md-4 control-label" for="nome">Nome</label>
        <div class="col-md-4">
          <input id="nome" name="nome" type="text" placeholder="Digite seu nome" class="form-control input-md">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>
        <div class="col-md-4">
          <input id="email" name="email" type="text" placeholder="Digite seu email" class="form-control input-md">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="texto">Digite o que deseja</label>
        <div class="col-md-4">
          <textarea class="form-control" id="texto" name="texto"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="button"></label>
        <div class="col-md-4">
          <button id="button" name="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>